<html xmlns:th="http://www.thymeleaf.org">

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/intro.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/history.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/exploitDescription.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/setup.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/assignment1.adoc"></div>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" accept-charset="UNKNOWN"
              method="POST" name="form"
              action="/WebGoat/log4shell/assignment1">
            <table>
                  <tr><td>Username<input name="param1" value="" type="TEXT" /></td></tr>
                  <tr><td>Password<input name="param2" value="" type="TEXT" /></td></tr>
                  <tr><td><input name="submit" value="Submit" type="SUBMIT"/></td></tr>
            </table>
        </form>

        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/assignment2.adoc"></div>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" accept-charset="UNKNOWN"
              method="POST" name="form"
              action="/WebGoat/log4shell/assignment2">
            <table>
                  <tr><td><input name="submit" value="Submit" type="SUBMIT"/></td></tr>
            </table>
        </form>

        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/exploits.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/assignment3.adoc"></div>
    <form class="attack-form" accept-charset="UNKNOWN"
        method="POST" name="form"
        action="/WebGoat/log4shell/assignment3/send">
      <table>
            <tr><td>Submit a request to the server with: <input name="submit" value="Submit" type="SUBMIT"/></td></tr>
      </table>
    </form>
    <div class="attack-container">
        <div class="assignment-success"><i class="fa fa-2 fa-check hidden" aria-hidden="true"></i></div>
        <form class="attack-form" accept-charset="UNKNOWN"
          method="POST" name="form"
          action="/WebGoat/log4shell/assignment3">
          <table>
                <tr><td>What is the name of the first file in the /usr/local/tomcat directory?</td></tr>
                <tr><td><input name="param1" value="" type="TEXT" /></td></tr>
                <tr><td><input name="submit" value="Submit" type="SUBMIT"/></td></tr>
          </table>
        </form>

        <div class="attack-feedback"></div>
        <div class="attack-output"></div>
    </div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/severity.adoc"></div>
  </div>

  <div class="lesson-page-wrapper">
    <div class="adoc-content" th:replace="doc:lessons/log4shell/documentation/sources.adoc"></div>
  </div>

</html>